/* You can add global styles to this file, and also import other style files */

/*imports*/
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

/*classes*/
.juicyorange {
        background: #ff8008; /* fallback for old browsers */
    
        background: -webkit-linear-gradient(to right, #ff8008, #ffc837); /* Chrome 10-25, Safari 5.1-6 */
    
        background: linear-gradient(to right, #ff8008, #ffc837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
        }
