<div *ngIf="notlogged; else elseBlock">
    <div ngbDropdown class="d-inline-block" >
        <button class="btn btn-lg btn-primary" id="dropdownMenu1"  ngbDropdownToggle>Login</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                            <label class="sr-only" for="usuario">Usuario</label>
                            <input #nameInput type="text" class="form-control" id="usuario" placeholder="Usuario" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                        </div>
                        <div class="checkbox">
                            <label>
                            <input type="checkbox"> Recordarme
                            </label>
                        </div>
                        <div class="form-group">
                                <button class="btn" (click)='clicked(nameInput.value)'>Sign in</button>
                        </div>
                        </form>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h3> <span class="label label-warning label-edited"><span class="glyphicon glyphicon-user"></span> {{name}}</span></h3>
    <button class="btn btn-lg btn-danger" (click)='logout()' id="cerrarSesion" >Cerrar sesión</button>
</ng-template>
