.dropdown-menu{
    background-color: darkgray;
    padding: 10px;
}
.btn-primary{
    border-radius: 3px;
    
}
.btn {
    margin-top: 6%;
    
}
.label-edited {
    padding: 12px;
    border: 0.1px solid orange;
}