.overview {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poster_path {
    height: 400px;
    border: 3px solid black;
}

.btn-edited {
    background-color: #ff7212;
}
.movie-title {
    font-size: 20px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    text-align: center;
}
.loading-title {
    text-align: center;
}