<hr>
<h2 class="title">Peliculas</h2>
<hr>
<div class="container">
	<div class="row">
		<div class="thumbnails" *ngIf="peliculas != undefined; else elseBlock">
            <div class="col-md-4" *ngFor= "let pelicula of peliculas.results">
              <div class="thumbnail">
                <a routerLink="/details/{{pelicula.id}}">
                  <img class="poster_path" src="https://image.tmdb.org/t/p/w640{{pelicula.poster_path}}" alt="ALT NAME">
                </a>
                <div class="caption">
                  <p class="flex">
                      <span class="movie-title" class="title-movie">{{pelicula.title}} </span>
                      <span><fa [name]="'star'"></fa> {{pelicula.vote_average}}</span>
                  </p>
                  <p class="flex">
                    <span><fa [name]="'calendar'"></fa> {{pelicula.release_date}}</span>
                    <span><fa [name]="'child'"></fa>{{pelicula.adult}}</span>
                  </p>
                  <p  class="overview">{{pelicula.overview}}</p>
                  <p align="center"><a routerLink="/details/{{pelicula.id}}" class="btn btn-primary btn-block btn-edited">Mas Información</a></p>
                </div>
              </div>
            </div>
        </div>
        <ng-template #elseBlock>
          <div class="col-md-12">
            <h3 class="loading-title">Cargando Peliculas...</h3>
          </div>
        </ng-template>
	</div>
</div>