<div class="container-fluid barra-filtros">
  <div class="row top">
    <div class="col-md-3 text-center">
        
      <span class="glyphicon gly glyphicon-calendar"></span>           
      <md-select [(ngModel)]="selectedYear" class="btn btn-primary " placeholder="Año">
        <md-option *ngFor="let year of years" [value]="year.idyear">
          {{ year.idyear }}
        </md-option>
      </md-select>
     
    </div>

    <div class="col-md-3 text-center">
      
      <span class="glyphicon gly glyphicon-facetime-video"></span>
      
       <md-select [(ngModel)]="selectedGenre" class="btn btn-primary  " placeholder="Genero">
        <md-option *ngFor="let genre of genres" [value]="genre.idGenre">
          {{ genre.descGenre }}
        </md-option>
      </md-select>
           
    </div>
        
    <div class="col-md-3 text-center">
            

      <span class="glyphicon gly glyphicon-sort-by-attributes"></span>
 
      <md-select [(ngModel)]="selectedOrder" class="btn btn-primary " placeholder="Ordenar por">
        <md-option *ngFor="let orderby of orderBys" [value]="orderby.idOrder">
          {{ orderby.descOrder }}
        </md-option>
      </md-select>
            

    </div>
    <div class="col-md-3 text-center">

      <button (click)="clicked($event)" class="btn btn-lg btn-warning hvr-pulse">Buscar</button>
    </div>


  </div>


</div>