<div class="container-fluid barra-filtros">
  <div class="row">
    <hr>

    <div class="col-md-4">
        <div class="row icono">
      <span class="glyphicon glyphicon-calendar"></span>
      </div>
        <div class="row">
      <md-select class="btn btn-primary filtros" placeholder="Año">
        <md-option *ngFor="let year of years" [value]="year.idyear">
          {{ year.idyear }}
        </md-option>
      </md-select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row icono">
      <span class="glyphicon glyphicon-facetime-video"></span>
      </div>
          <div class="row icono">

      <md-select class="btn btn-primary filtros " placeholder="Genero">
        <md-option *ngFor="let genre of genres" [value]="genre.idGenre">
          {{ genre.descGenre }}
        </md-option>
      </md-select>
            </div>

    </div>

    <div class="col-md-4">
            <div class="row icono">

      <span class="glyphicon glyphicon-sort-by-attributes"></span>
      </div>
                <div class="row icono">

      <md-select class="btn btn-primary filtros" placeholder="Ordenar por">
        <md-option *ngFor="let orderby of orderBys" [value]="orderby">
          {{ orderby.idOrder }}
        </md-option>
      </md-select>
            </div>

    </div>


  </div>


</div>