<div class="container-fluid barra-filtros">
  <div class="row">
    <hr>

    <div class="col-md-4">
      <md-select class="btn btn-primary" placeholder="Año">
        <md-option *ngFor="let year of years" [value]="year.idyear">
          {{ year.idyear }}
        </md-option>
      </md-select>
    </div>

    <div class="col-md-4">
      <md-select class="btn btn-primary" placeholder="Genero">
        <md-option *ngFor="let genre of genres" [value]="genre.idGenre">
          {{ genre.descGenre }}
        </md-option>
      </md-select>
    </div>

    <div class="col-md-4">
      <md-select class="btn btn-primary" placeholder="Ordenar por">
        <md-option *ngFor="let orderby of orderBys" [value]="orderby">
          {{ orderby.idOrder }}
        </md-option>
      </md-select>
    </div>


  </div>


</div>